.about-section {
  background-color: #0b1221;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

.about-header {
  text-align: center;
  border-radius: 2rem;
  border: 0.43px solid rgba(9, 124, 228, 0.88);
  backdrop-filter: blur(11.392406463623047px);
  box-shadow: 1.9px 2.37px 1.9px 0px #ffffff1f;
  background-color: rgba(11, 18, 33, 0.8);
}

.about-title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding: 0.5rem 2rem;
}

.about-description {
  text-align: center;
  max-width: 1000px;
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.about-card {
  background: linear-gradient(
    219.02deg,
    rgba(9, 124, 228, 0.33) 7.09%,
    rgba(9, 124, 228, 0.13) 63.93%,
    rgba(8, 125, 231, 0.09) 100%
  );
  border-radius: 0.75rem;
  padding: 2rem;
  position: relative;
  border: 1px solid rgba(77, 119, 255, 0.3);
  backdrop-filter: blur(5px);
  width: 550px;
}

.card-icon {
  margin-bottom: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  margin: 0 0 0.375rem 0;
}

.card-subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  margin: 0 0 1.5rem 0;
}

.card-benefits {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.card-benefits li {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: rgba(77, 119, 255, 0.1);
  font-size: 0.75rem;
  flex-shrink: 0;
  padding: 4px 2px;
}

.card-benefits li span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .about-cards {
    grid-template-columns: 1fr;
    gap: 2px;
  }

  .about-card {
    margin: 10px;
    width: 350px;
  }

  .about-section {
    padding: 2rem 0;
  }

  .about-description {
    padding: 0 1rem;
  }
}
